<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Macro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D2729E0AFE49BA15A71D3BA0B921354EB434CF41</string>
				<key>dateExpires</key>
				<string>26/12/1448 AH</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>626W79CAUX.com.najd.Macro</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>626W79CAUX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Macro.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f9bcb447-b5f0-432b-81e1-2254f662a49f</string>
				<key>dateExpires</key>
				<string>26/12/1448 AH</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.najd.Macro</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>626W79CAUX</string>
				<key>name</key>
				<string>gida Al mughamer</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
